doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Three In The Key
        link(rel='stylesheet', href='/stylesheets/home.css')
        script(src='/javascripts/navbar.js' defer)  
        //- defer tag just makes sure the page loads before the script runs
    body
        header
            include navbar.pug

        div(class="boxes")
            div(id="box")
                a(href="/trivia") 
                    h3.option Trivia
                br
                p Test your knowledge of the NBA with this trivia game.

            div(id="box")
                a(href="/higher-lower") 
                    h3.option Higher or Lower
                br
                p Higher or Lower? See if this player's stats are higher or lower than the outlines conditions. 

            div(id="box")
                a(href="/teammates") 
                    h3.option Teammate Checker
                br
                p Checks to see if your chosen players ever shared the court together in a game.
 
            div(id="box")
                a(href="/player-stats") 
                    h3.option Player Stats
                br
                p View statistical data of your favorite players.

            div(id="box")
                a(href="/team-stats") 
                    h3.option Team Stats
                br
                p View statistical data of your favorite teams.

        div(class="images")
            img(src="/images/michael-jordan.png", id="mj")
            img(src="/images/cavs-bron.png", id="lj")


            
        




