doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Three In The Key
        link(rel='stylesheet', href='/stylesheets/home.css')
    body
        header
            include navbar.pug

        div(class="boxes")
            div(id="box")
                a(href="/trivia") 
                    h3 Trivia 
                    br
                p Create a lineup that is most similar to the daily lineup.

            div(id="box")
                a(href="/lineup") 
                    h3 Lineup Match
                    br
                p Create a lineup and we will show you the most similar starting lineup to ever play.

            div(id="box")
                a(href="/teammate") 
                    h3 Teammate Checker
                    br
                p Checks to see if your chosen players ever shared the court together in a game.

        img(src="/images/michael-jordan.png", id="mj")
        //- img(src="/images/basketball-147657.svg", id="lj")

        script(src='/javascripts/homeClient.js')


            
        




