doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Three In The Key
        style.
            body {
                background-color: #5271FF;
            }
    body
        header
            ul 
                li 
                    a(href="/trivia") Trivia
                li 
                    a(href="/lineup") Lineup Match
                li 
                    a(href="/teammate") Teammate Checker

            h1 Three In The Key

            //- Create a link to take you back to the home page
            a(href="/") 
                img(src="", alt="Home Page" width="30px" height="30px")
        
        a(href="/trivia") 
            h3 Trivia 
        p Create a lineup that is most similar to the daily lineup.

        a(href="/lineup") 
            h3 Lineup Match
        p Create a lineup and we will show you the most similar starting lineup to ever play.

        a(href="/teammate") 
            h3 Teammate Checker
        p Checks to see if your chosen players ever shared the court together in a game.
        
        




