nav.navbar
    a(href="#" class="nav-branding") Three In the Key

    ul(class="nav-menu")
        li(class="nav-item")
            a(href="/trivia" class="nav-link") Trivia <!--Insert link here-->
        li(class="nav-item")
            a(href="/lineup" class="nav-link") Lineups <!--Insert link here-->
        li(class="nav-item")
            a(href="/teammate" class="nav-link") Teammates <!--Insert link here-->
    div(class="burger")
        span(class="bar")
        span(class="bar")
        span(class="bar")